body {
    font-family: 'Cinzel', serif;
}

.fancy-text {
    font-family: 'Caveat', cursive;
    font-size: 24px; /* Adjust the font size as needed */
    /* Add more styling properties as desired */
}
